<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="user/studentRegister" method="POST">
        姓名：<input type="text" name="student_name"><br>
        学号：<input type="text" name="student_sno"><br>
        密码：<input type="password" name="student_password"><br>
        出生日期：<input type="date" name="student_data"><br>
        联系电话：<input type="text" name="student_phone"><br>
        家庭住址：<input type="text" name="student_address"><br>
        班级：<input type="text" name="student_class"><br>
        <input type="submit" value="注册">
    </form>
</body>
</html>